{% extends 'blog/base.html' %}
{% block title %}{{blogp.name}}{% endblock title %}

{% block body %}

<img src="/media/{{blogp.main_image}}" width="700px" class="" >
<p>{{blogp.date}}</p>
<p> <a href="/blog/category/{{blogp.category}}">{{blogp.category}}</a> </p>

<h1>{{blogp.name}}</h1>

<p>{{blogp.content|safe}}</p>



{% for i in comments %}

    <div class="container mb-4">
        <p>{{i.user}}</p>
        <p>{{i.date}}</p>
        <p>{{i.comment}}</p>
    </div>
    <br><br><br>

{% endfor %}


{% endblock body %}