{% extends 'blog/base.html' %}
{% block title %}Blog{% endblock title %}
{% block body %}

    <h1>Hello, World!! Blog</h1>
    {% for i in allcats %}
        <p><b><i>{{i.name}}</i></b></p>
    {% endfor %}
    <br><br><br>



    {% for blog in blogs %}


        <div class="container mb-4">
            <p> {{blog.id}} </p>
            <p> {{blog.date}} </p>
            <p> <a href="/blog/category/{{blog.category}}">{{blog.category}}</a> </p>
            <img src="/media/{{blog.featured_image}}" width="250px" >
            <p> {{blog.name}} </p>
            <p> {{blog.description}} </p>
            <a href="/blog/{{blog.slug}}">Read more</a>
        </div>
        <br><br><br><br>



    {% endfor %}


{% endblock body %}