{% extends 'blog/base.html' %}
{% block title %}{{blogp.name}}{% endblock title %}


{% block body %}

<img src="/media/{{blogp.main_image}}" width="700px" class="" >
<p>{{blogp.date}}</p>
<p> <a href="/blog/category/{{blogp.category}}">{{blogp.category}}</a> </p>

<h1>{{blogp.name}}</h1>

<p>{{blogp.content|safe}}</p>


<form action="{% url 'blogpostComment' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="slug" value="{{blogp.slug}}">
    Comment: <textarea name="comment" cols="30" rows="10"></textarea>
    <input type="submit" value="Comment">
</form>

{% for i in messages %}


<p class={{i.tags}}>{{i}}</p>


{% endfor %}

{% for i in comments %}

    <div class="container mb-4">
        <p>{{i.user}}</p>
        <p>{{i.date}}</p>
        <p>{{i.comment}}</p>
    </div>
    <br><br><br>

{% endfor %}


{% endblock body %}